
/* Your CSS Code here. */
body{
    background-color: rgba(2, 24, 24, 0.838);
}
header ul {
    display:table-row;
    list-style:none;
    height:100px;
    text-align:center;
    float:right;
    width:100%;
 }
 header ul li {
    display:inline-block;
    vertical-align:middle;
    text-transform: uppercase;
    margin-left: 35px;
    letter-spacing: 3px;
 }

 .text-color a{
    text-decoration: none;
 }

 .main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }